.videocall {
  display: flex;

  .videocallContainer {
    flex: 6;
    display: flex;
    margin: 50px;
    .left {
      display: flex;
      flex-direction: column;
      flex: 2;

      .top {
        align-items: center;
        justify-content: center;
        flex: 6;

        .video {
          border-radius: 10px;
          width: 100%;
        }
      }

      .bottom {
        flex: 1;

        .settingsBar {
          display: flex;
          align-items: center;
          justify-content: center;

          .settingsButton {
            flex: 2;
            padding: 10px;
            background-color: rgb(255, 0, 26);
            border: 0px;
            transition: 0.4s;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
          }

          .settingsButton:disabled{
            cursor: default;
            background-color: #990010;
            color: #a8bbbf;

            &:hover{
              background-color: #990010;
              color: #a8bbbf;
            }
          }

          .leave {
            border-radius: 10px 0px 0px 10px;
            border-right: 1px solid lightgrey;
          }

          .audio {
            border-right: 1px solid lightgrey;
          }

          .camera {
            border-radius: 0px 10px 10px 0px;
          }

          .settingsButton:hover {
            background-color: rgb(184, 0, 18);
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1;

      .chatContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: rgb(236, 249, 246);
        border-radius: 10px;
        padding: 15px;

        ::-webkit-scrollbar {
          width: 20px;
        }
        ::-webkit-scrollbar-track {
          background-color: transparent;
        }
        ::-webkit-scrollbar-thumb {
          background-color: #d6dee1;
          border-radius: 20px;
          border: 6px solid transparent;
          background-clip: content-box;
        }

        ::-webkit-scrollbar-thumb:hover {
          background-color: #a8bbbf;
        }

        .top {
          border-radius: 10px;
          padding: 15px;
          flex: 1;

          .title {
            font-weight: bold;
            font-size: 24px;
            color: rgb(100, 100, 100);
          }
        }

        .middle {
          flex: 10;
          display: flex;
          width: 100%;

          .chat {
            overflow: scroll;
            max-height: 65vh;
            width: 100%;
            .message {
              margin: 5px;
              display: flex;
              flex-direction: column;
              width: 95%;

              .top {
                flex: 1;
                padding: 10px 5px;

                .user {
                  font-weight: 500;
                }
              }

              .bottom {
                flex: 1;

                .text {
                  display: flex;
                  flex-direction: column;
                  background-color: #ffffff;
                  border-radius: 30px 30px 30px 0px;
                  padding: 20px;
                  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.6);
                  box-shadow: 5px 7px 15px 3px rgb(201, 201, 201, 0.47);
                }
              }
            }

            .me {
              align-items: flex-end;
              .bottom {
                .text {
                  background-color: rgb(210, 215, 230);
                  border-radius: 30px 30px 0px 30px;
                }
              }
            }

            .server{
              align-items: center;
              display: flex;
              justify-content: center;
              flex-direction: column;
              color: rgb(100, 100, 100);
              .top{
                font-weight: 600;
              }
            }
          }
        }

        .bottom {
          flex: 1;
          display: flex;
          align-items: center;

          .chatBar {
            display: flex;
            width: 100%;
            padding: 20px;

            .chatInput {
              flex: 5;
              appearance: none;
              background: none;
              outline: none;
              border: none;
              font-size: 20px;
              padding: 20px;
              border: none;
              border-radius: 15px 0px 0px 15px;
            }

            .chatInput:not([type="submit"])::placeholder {
              color: rgba(65, 65, 65, 0.637);
              font-weight: 400;
            }

            .chatInput:not([type="submit"]):focus,
            .chatInput:not([type="submit"]):valid {
              background-color: #fff;
            }

            .sendButton {
              flex: 2;
              padding: 15px;
              border-radius: 0px 8px 8px 0px;
              background-color: rgb(255, 0, 26);
              border: 0px;
              transition: 0.4s;
              color: #fff;
              font-size: 20px;
              font-weight: 700;
              cursor: pointer;
            }

            .sendButton:hover {
              background-color: rgb(184, 0, 18);
            }
          }
        }
      }
    }
  }
}
